@using Agatha.DVDRental.Fulfillment.Model.Stock
@model Agatha.DVDRental.Operational.UI.Models.StockModel

@{
    
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td>Id</td>
        <td>Barcode</td>
        <td>Status</td>
    </tr>

    @foreach (Dvd dvd in Model.Stock)
    {
     <tr>
        <td>@dvd.Id</td>
         <td>@dvd.Barcode</td>
         <td>
         @if (dvd.CurrentLoan != null)
         {
             <i>on loan to @dvd.CurrentLoan.SubscriptionId</i>
         }
         </td>
    </tr>
    } 
 
</table>
                 
@using (Html.BeginForm("AddStockFor", "Stock", new { FilmID = Model.FilmId }))
{
            <p><input class="btn" value="Add stock &raquo;" type="submit" /></p>
}   