<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080;Database=AgathasDVDRentals" />
  </connectionStrings>
  
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Agatha.DVDRental.Subscription.Contracts.Events.FilmHasBeenAllocated, Agatha.DVDRental.Subscription.Contracts" Endpoint="Agatha.DVDRental.AllocationPolicy@localhost" />

      <add Messages="Agatha.DVDRental.Fulfillment.Contracts.AssignDvdToSubscription, Agatha.DVDRental.Fulfillment.Contracts" Endpoint="Agatha.DVDRental.FulfillmentPolicy@localhost" />
      
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
