@using Agatha.DVDRental.Fulfillment.Model.Fulfilment
@model System.Collections.Generic.IEnumerable<Agatha.DVDRental.Fulfillment.Model.Fulfilment.FulfilmentRequest>



 @foreach (FulfilmentRequest request in Model)
 {
             <h3>@request.FilmId</h3>  
             <p>@request.Requested</p>             
             if (request.IsAssigned())
             {
                 <p>Assigned To: @request.AssignedTo</p>   
                 <p>Dvd Picked: <select name="year">
                        @for (var i = 0; i < 6; i++)
                        {
                            <option>@(DateTime.Now.AddYears(i).Year)</option>
                        }
                    </select>
                    </p>
                  using (Html.BeginForm("Dispatch", "Pick"))
                  {
                      <input class="btn" value="Dispatch &raquo;" type="submit" />
                  }
             }
     <hr/>
 } 
 
 @using (Html.BeginForm("Assign", "Pick"))
 {
                <p><input class="btn" value="Assign units &raquo;" type="submit" /></p>
 }   
             