@using Agatha.DVDRental.Fulfillment.Model.Fulfilment
@model System.Collections.Generic.IEnumerable<Agatha.DVDRental.Fulfillment.Model.Fulfilment.FulfilmentRequest>



 @foreach (FulfilmentRequest request in Model)
 {
             <h3>Film Id: @request.FilmId</h3>  
     <p>Requested On: @request.Requested</p>
      <img src="@Url.Content("~/Content/images/preprinted_small_1.jpg")" />             
     if (request.IsAssigned())
     {
         using (Html.BeginForm("Dispatch", "Pick"))
         {                      
                         <p>Assigned To: @request.AssignedTo</p>   
                         <p></p>
                        <p>Dvd Picked: <input class="btn" value="SIMULATE PICKING AND SCANNING A DVD" type="submit" /></p>     
         }
     }
     <hr/>
 } 
 
 @using (Html.BeginForm("Assign", "Pick"))
 {
                <p><input class="btn" value="Assign units &raquo;" type="submit" /></p>
 }   
             